body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;

}

.error-title {
  font-size: 75px;
  margin: 0px;
}

.error-message{
  font-size: 2em;
}

.error {
  color: white;
  width: 100%;
  height: 100vh;
  background-color: #C23824;
  display: flex;
  align-items: center;
  justify-content: center;

}

.data-view {
  width: 100%;
  height: 100vh;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction:         row;

}

.data {
  background-color: white;
  font-size: 16px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #FFECB3;
}

.display-title {
  margin: 0px;
  text-align: right;
  padding-right: 5px;
  width: 100%;
}

h1 {
  font-size: 50px;
  margin: 0px;
}

.data-container{
  width: 70%;
  height: 100vh;
  background-color: #FFECB3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  margin: 0px;
  width: 30%;
  height: 100vh;
  background-color: #FFA000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
